@font-face{
    font-family:'TTLakes-Bold.ttf';
    src: url('./fonts/TTLakes-Bold.ttf');
    Font-style: Bold;
    Font-size: 28px;
    color:#1B1C21; 
}
@font-face{
    font-family:'TTLakesCondensed-Medium.ttf';
    src: url('./fonts/TTLakes-Medium.ttf');
    Font-style: Medium;
    font-size: 16px;
}
.aside__header{
    max-height: 1024px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 320px;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
}
.aside__menu-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; 
}
.main__menu{
    width: 320px;   
}
.footer__menu{
    margin-top: 236px;
    flex-direction: column;
}
.aside__img-group{
    margin: 18px 0 0 17px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.aside__img-group:hover {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
.button{
    background-color:#FF3E79 ;
    display: inline-block;
    margin: 0 0.5em 1em 0.5em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-repeat:no-repeat;
    background-position: center;
    transition: width 0.5s,height 0.5s, background-color 0.5s, transform 0.5s;
    cursor: pointer;
    }
    .button:hover{
       background-color: blueviolet;
        width: 40px;
        height: 40px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .aside__button-close{
        background-image:url(img/x.png);
        margin:23px 0 0 23px;
    }
    .aside__button-search{
        background-image:url(img/search.png);
        margin:23px 24px 0 78px ;
    }
    .footer__button-phone{
        background-image: url(img/phone.png);
        margin:0 16px 0 0;
    }
    .footer__button-message{
        background-image: url(img/message.png);
        margin-right: 16px;
    }
    .footer__button-contact{
        background-image: url(img/contacts.png);
        margin-right: 16px;
    }
     .main__list{
    padding-inline-start: 0px;
    margin: 0;
    }
    .main__item{
        font-family:'TTLakesCondensed-Medium.ttf';
        list-style:none;
        white-space:nowrap;
        margin-left: 0;
    }
    .main__link{
         cursor: pointer;
        text-decoration: none;
        color: #1B1C21;
        padding: 0 0 0 1.5em ;
        font-size: 16px;
        display: flex;
        position: relative;
        align-items: center;
        height: 32px;
        margin: 0 0 2em 0;
        transition: 0.5s; 
    }  
   .main__link:hover {
        transform: scale(0.9);
    }
    .main__link:hover::before{
        content:"";
        background-color: #41F6D7;
        border-radius: 0 5px 5px 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
    } 
    .main__link:focus{
        color: #7E7E82;   
    }
.footer__content{
    display: block;
    margin-top: 236px;
}
.footer__button{
    margin-left: 22px;
}
.footer__contact{
    margin-left: 24px;
    cursor: pointer;
}
.contact__mail{
margin: 16px 0 12px 0;
transition: 0.5s; 
display: block; 
}
.contact__mail:hover {
    transform: scale(1.2);
}
.contact__mail-link{
    text-decoration: none;
    color: #1B1C21;
    font-family:'TTLakesCondensed-Medium.ttf';
}
.contact__phone{
    font-family:'TTLakes-Bold.ttf';
    Font-size: 24px;
    color: #1B1C21;
text-decoration: none;
transition: 0.5s; 
display: block; 
}
.contact__phone:hover {
    transform: scale(1.2);
}
.footer__button-lang{
  margin: 40px 0 32px 24px;
  cursor: pointer;
}
.footer__button-ru{
    font-family:'TTLakesCondensed-Medium.ttf';
    border: 0;
    background: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;  
}
.footer__button-ru:hover {
    transform: scale(1.2);
}
.footer__button-en{
    font-family:'TTLakesCondensed-Medium.ttf';
    border: 0;
    background: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;  
}
.footer__button-en:hover {
    transform: scale(1.2);
}
.footer__button-ch{
    font-family:'TTLakesCondensed-Medium.ttf';
    border: 0; 
    background: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;  
}
.footer__button-ch:hover {
    transform: scale(1.2);
}
.footer__button-ru:active:hover{
    text-decoration: none;
    color: #1B1C21;
}
.footer__button-en:active:hover{
    text-decoration: none;
    color: #1B1C21;
}
.footer__button-ch:active:hover{
    text-decoration: none;
    color: #1B1C21;
}
.footer__button-ru:focus{
    color: #7E7E82;
}
.footer__button-en:focus{
    color: #7E7E82;  
}
.footer__button-ch:focus{
    color: #7E7E82;  
}
